<!DOCTYPE html>
<html>
<head>
    <link href="/static/commons.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title></title>
    <style type="text/css">
        label {
            width: 80px;
            text-align: right;
            display: inline-block;
        }
        p {
            line-height: 20px;
        }
    </style>
</head>
<body>
<form action="login" method="post">
    {% csrf_token %}
    <p>
        <label for="username">用户名：</label>
        <input id="username" name="user" type="text" />
    </p>
    <p>
        <label for="password">密码：</label>
        <input id="password" name="pwd" type="password" />
        <input type="submit" value="提交"/>
        <span style="color: red;">{{ error_msg }}</span>
    </p>
</form>
    <script src="/static/jquery.min.js.js"></script>
</body>
<html>